@use './../../CommonStyles/responsiveCss.scss' as mixins;

#topCard {

    width: 100%;
    background-color: var(--topBarColor);

    @include mixins.respond(small) {
        display: none;
    }
    @include mixins.respond(medium) {
        display: none;
    }

    .mainContainer {
        width: 100%;
        max-width: 1300px;
        padding: .7rem 1rem;
        margin: 0 auto;
        background-color: var(--topBarColor);
        display: flex;
        justify-content: space-between;


        .leftContainer ul {
            display: flex;
            gap: 1rem;

            @include mixins.respond(small) {
                gap: .5rem;
            }

            li a {
                color: var(--ash-WhiteColor);
                font-size: .7rem;

                @include mixins.respond(small) {
                    font-size: .55rem;
                }

            }

            li a:hover {
                color: var(--whiteColor);
            }
        }

        .rightContainer ul {
            display: flex;
            gap: 1rem;

            @include mixins.respond(small) {
                gap: .6rem;
            }

            li a {
                color: var(--ash-WhiteColor);
                font-size: .7rem;
            }

            li a:hover {
                color: var(--whiteColor);
            }
        }
    }
}