@use './../../CommonStyles/responsiveCss.scss' as mixins;

#Navbar {
    padding: 2rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--whiteColor);
    z-index: 9999999;


    @include mixins.respond(small) {
        padding: 1rem 1rem;
    }

    .navContainer {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        .mainSearchContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;

            .contactContainer {
                display: flex;
                align-items: center;
                gap: .5rem;


                .logoContainer {
                    width: 2rem;
                    display: flex;
                    justify-content: center;


                    @include mixins.respond(small) {
                        width: 1.5rem;
                    }


                }

                span {
                    font-size: 1.2rem;
                    font-weight: 500;

                    @include mixins.respond(small) {
                        font-size: 1rem;
                    }
                }
            }

            .searchContainer {
                width: 300px;
                max-width: 400px;
                padding: 0.4rem 1rem;
                border-radius: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid var(--borderColor);
                align-items: center;

                @include mixins.respond(small) {
                    display: none;
                }

               
                input {
                    width: 90%;
                    max-width: 400px;
                    font-size: .9rem;
                    color: var(--a-Bgtext-color);

                    
                }

                input::placeholder {
                    font-size: .9rem;
                    color: var(--a-Bgtext-color);
                }

                a {
                    display: inline-flex;

                    svg {
                        font-size: .9rem;
                    }
                }
            }
        }

        .listContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            


            .leftContainer ul {
                display: flex;
                gap: 1.2rem;
                align-items: center;

                @include mixins.respond(small) {
                    display: none;
                }




                li a {
                    color: var(--light-blackColor);
                    font-size: .9rem;
                    font-weight: 400;
                }


            }

            .rightContainer ul {
                display: flex;
                gap: 1.2rem;
                align-items: center;

                @include mixins.respond(small) {
                    gap: .4rem;
                }

                li {
                    display: inline-flex;


                    .smallDev {
                        display: none;


                        @include mixins.respond(small) {
                            display: inline-flex;
                        }

                        svg {
                            @include mixins.respond(small) {
                                font-size: 1rem;
                            }

                        }
                    }

                    .navIcons {
                        @include mixins.respond(small) {
                            display: none;
                        }
                    }

                    a {
                        display: inline-flex;

                        svg {
                            color: var(--light-blackColor);
                            font-size: .9rem;
                        }
                    }
                }
            }
        }
    }
}