@use './../../CommonStyles/responsiveCss.scss' as mixins;

#Navbar {
    padding: 1.5rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--whiteColor);
    z-index: 9999999;


    @include mixins.respond(small) {
        padding: 1rem 1rem;
    }

    .navContainer {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        position: relative;

        .mainSearchContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;

            .contactContainer {
                display: flex;
                align-items: center;
                gap: .1rem;
                cursor: pointer;


                .logoContainer {
                    width: 2rem;
                    display: flex;
                    justify-content: center;

                    svg {
                        font-size: 1.5rem;
                    }




                }

                span {
                    font-size: 1.2rem;
                    font-weight: 400;

                    @include mixins.respond(small) {
                        font-size: 1rem;
                    }
                }
            }

            .searchContainer {
                width: 300px;
                max-width: 400px;
                padding: 0.4rem 1rem;
                border-radius: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid var(--borderColor);
                align-items: center;

                @include mixins.respond(small) {
                    display: none;
                }

                @include mixins.respond(medium) {
                    display: none;
                }

               

                input {
                    width: 90%;
                    max-width: 400px;
                    font-size: .9rem;
                    color: var(--a-Bgtext-color);


                }

                input::placeholder {
                    font-size: .9rem;
                    color: var(--a-Bgtext-color);
                }

                a {
                    display: inline-flex;

                    svg {
                        font-size: .9rem;
                    }
                }
            }
        }

        .listContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            position: relative;


            @include mixins.respond(large) {
                gap: 1rem;
            }


            .leftContainer ul {
                display: flex;
                gap: 1.2rem;
                align-items: center;
                position: relative;
                margin-right: 1rem;
          

                @include mixins.respond(small) {
                    display: none;
                }

                @include mixins.respond(medium) {
                    display: none;
                }



                li {
                    position: relative;


                    .subMenu {
                        display: none;
                        position: absolute;
                        background-color: var(--topBarColor);
                        border-radius: .5rem;
                        top: 15;
                        left: 0;
                        // margin: .5rem 0 0 .5rem;

                        ul {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 0;

                            li {
                                width: 100%;
                                border-bottom: 1px dashed var(--light-blackColor);
                                padding: 1rem 2.5rem;
                                text-align: center;

                                a {
                                    color: var(--whiteColor);
                                    font-size: .9rem;
                                    font-weight: 400;
                                }

                                &:last-child {
                                    border-bottom: none;
                                }
                            }

                        }
                    }

                    a {

                        display: inline-flex;
                        align-items: center;
                        gap: .5rem;
                        color: var(--light-blackColor);
                        font-size: .9rem;
                        font-weight: 400;

                        @include mixins.respond(large) {
                            font-size: .8rem;
                        }


                        svg {
                            transition: all .3s ease;
                        }


                    }

                    &:hover {
                        .subMenu {
                            display: block;
                        }

                        svg {

                            transform: rotate(180deg);
                        }
                    }
                }




            }

            .rightContainer ul {
                display: flex;
                gap: .5rem;
                align-items: center;

                @include mixins.respond(small) {
                    gap: .4rem;
                }

                li {
                    display: inline-flex;


                    .smallDev {
                        display: inline-flex;


                        @include mixins.respond(large) {
                            display: none;
                        }

                        @include mixins.respond(xl) {
                            display: none;
                        }

                        svg {
                            font-size: 2rem;
                        }
                    }

                    .navIcons {
                        position: relative;

                        svg {
                            font-size: 1.1rem;
                        }

                        @include mixins.respond(large) {
                            font-size: .8rem;
                        }
                    }

                    a {
                        display: inline-flex;
                        padding: .5rem;

                        @include mixins.respond(large) {
                             padding: 0;
                        }

                        .cartCount {
                            background-color: var(--topBarColor);
                            color: var(--whiteColor);

                            width: .8rem;
                            height: .8rem;
                            border-radius: 50%;
                            position: absolute;
                            right: 3px;
                            top: 2px;
                            display: flex !important;
                            justify-content: center;
                            align-items: center;


                            @include mixins.respond(large) {
                                right: -4px;
                                top: -4px;
                           }
               

                            span {
                                font-size: .5rem !important;
                            }
                        }

                        svg {
                            color: var(--light-blackColor);
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}