@use './../../CommonStyles/responsiveCss.scss' as mixins;

#Checkout {
    padding: 1rem;

    .checkoutHeading {
        width: 100%;
        max-width: 1200px;
        position: relative;
        padding: 0 2rem;
        margin: 1rem auto;

        h4 {
            font-size: 1.5rem;
            color: var(--a-text-color);
            font-weight: 500;
        }
    }

    .mainContainer {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        flex-wrap: wrap;
        position: relative;
        padding: 1rem 2rem;

        .divider {
            width: 100%;
            height: 1px;
            background-color: var(--lightBorderColor);
        }


        @include mixins.respond(medium) {
           flex-direction: column;
        }


        @include mixins.respond(small) {
            flex-direction: column;
        }


        .leftContainer {
            position: relative;
            flex: 1;


            .billingHeading {

                p {
                    font-size: 1rem;
                    color: var(--a-text-color);
                    font-weight: 500;
                }
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 1rem;
                margin: 1rem 0;

                .formGroup {
                    width: 100%;
                    label{
                        font-size:.9rem;
                        color: var(--a-text-color);
                        font-weight: 400;
                    }

                    input,
                    textarea {
                        width: 100%;
                        padding: .5rem;
                        border-radius: 1rem;
                        border: 1px solid var(--lightBorderColor);
                    }
                    textarea {
                        height: 150px;
                        padding: 1rem;
                    }
                    span{
                        color: var(--redColor);
                    }
                  

                    // input[type="submit"] {
                    //     padding: .5rem 1rem;
                    //     background-color: var(--primaryColor);
                    //     color: var(--whiteColor);
                    //     border: none;
                    //     cursor: pointer;
                    //     transition: red .2s ease-in-out;
                    // }

                    // input[type="submit"]:hover {
                    //     background-color: var(--primaryColor-hover);
                    // }
                }
                .firstName, .lastName{
                    width: 48%;
                }
                .addInfo{
                    font-size: 1rem;
                    color: var(--a-text-color);
                    font-weight: 500;
                    margin: 1rem 0 0 0;
                }

            }




        }


        .rightContainer {

            display: flex;
            flex-direction: column;
            gap: 1rem;
            flex: 1;
            border: 1px solid var(--lightBorderColor);
            padding: 1.5rem 1.2rem;
            border-radius: .5rem;

            @include mixins.respond(small) {
                width: 100%;
            }


            .headingContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;


                h5 {
                    font-size: .9rem;
                    font-weight: 500;
                    color: var(--a-text-color);
                }
            }

            .productsList {

                display: flex;
                flex-direction: column;
                gap: 1rem;

                .product {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .productDetails {
                        width: 50%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1rem;

                        .productImg {
                            width: 2.5rem;
                            height: 2.5rem;

                            img {
                                width: 100%;
                            }
                        }

                        .productName {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-start;
                            gap: .5rem;

                            p {
                                font-size: .7rem;
                                font-weight: 500;
                                color: var(--a-text-color);
                            }

                            .productItemPrice {
                                color: var(--light-blackColor);
                            }

                        }

                        .quantityContainer {
                            width: 15%;
                            width: max-content;
                            padding: .3rem .8rem;
                            font-size: .7rem;
                            border: 1px solid var(--borderColor);
                            border-radius: 2rem;
                            color: var(--a-text-color);
                            cursor: pointer;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 1rem;

                            a {
                                font-size: .7rem;
                                color: var(--a-text-color);
                            }

                        }
                    }



                    .subtotalContainer {

                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            font-size: .8rem;
                            font-weight: 500;
                            color: var(--a-text-color);
                        }

                        .productItemPrice {
                            color: var(--light-blackColor);
                        }

                        a {
                            display: inline-flex;
                        }
                    }

                }

            }

            h5 {
                font-size: 1rem;
                font-weight: 500;
                color: var(--a-text-color);
                margin: .5rem 0;
            }

            .subTotal {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;


                span {
                    font-size: .8rem;
                    font-weight: 400;
                    color: var(--a-text-color);
                }
            }

            .total {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                p {
                    font-size: .9rem;
                    font-weight: 500;
                    color: var(--a-text-color);
                }

                span {
                    font-size: .8rem;
                    font-weight: 400;
                    color: var(--a-text-color);
                }
            }

            .freeShippingContainer {
                padding: 1.5rem 0 .5rem 0;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                p {
                    font-size: .8rem;
                    font-weight: 400;
                    color: var(--a-text-color);
                }

                .progressBar {
                    width: 100%;
                    height: 6px;
                    appearance: none;
                }

                .progressBar::-webkit-progress-bar {
                    background-color: var(--background-grayColor);
                    border-radius: 5px;
                }

                .progressBar::-webkit-progress-value {
                    background-color: var(--bgEnglishBlueColor);
                    border-radius: 5px;
                }

                .progressBar::-moz-progress-bar {
                    background-color: var(--bgEnglishBlueColor);
                    border-radius: 5px;
                }
            }

            .checkoutBtn {
                background-color: var(--bgEnglishBlueColor);
                color: var(--whiteColor);
                font-size: .8rem;
                padding: .8rem .5rem;
                text-align: center;
                border-radius: 2rem;
            }

            .paymentOptions {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 1rem;
                background-color: var(--background-lightGrayColor);
                padding: 1rem 1.2rem;
                margin: 1.5rem 0 .5rem 0;
                border-radius: .2rem;

                a {
                    font-size: 1.2rem;
                    color: var(--a-text-color);
                }

                p {
                    font-size: .9rem;
                    color: var(--a-text-color);

                }
            }

            .privacyDesc {
                padding: 1rem 0;

                p {
                    font-size: .9rem;
                    color: var(--a-text-color);
                }

                a {
                    margin-left: .4rem;
                    text-decoration: underline;
                    font-size: .9rem;
                    color: var(--bgEnglishBlueColor);
                }

            }


        }
    }

}