@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --a-text-color: #42504b;
  --a-lightText-color: #3f3f3f;
  --a-hover-text-color: #e4e4e4;
  --a-Bgtext-color: #c0bfbf;
  --a-Bghover-text-color: #363636;
  --a-fontSize: .8rem;
  --ash-WhiteColor: #96a1a0;
  --light-blackColor: #535353;
  --whiteColor: #ffffff;
  --blackColor: #141414;
  --topBarColor: #152520;
  --borderColor: #cbcbcb;
  --bgLightGreenColor: #eef4f5;
  --bgLightBlueColor: #c6dfe0;
  --bgEnglishBlueColor: #274c50;
  --bgLightEnglishBlueColor: #446a6d;
  --bgDisplayBtnCoverColor: #e2edef;
  --lightBorderColor: #eeeeee;
  --bgLightColor: #fbfcfc;
  --redColor: #d32323;
  --goldColor: #eacf37;
  --background-grayColor: rgb(195, 195, 195);
  --background-lightGrayColor: rgb(235, 231, 231);


  --bgLightGreen: #9ba89e;
  --bgLightPeach: #d39e76;
  --bgLightGray: #a7a29c;

  --modal-bg: rgba(0, 0, 0, 0.4);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

::-ms-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}


::-webkit-scrollbar-thumb {
  background-color: transparent;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  outline: none;
}

a {
  color: var(--a-text-color);
  font-size: var(--a-fontSize);
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

input {
  border: none;
  background-color: inherit;
}

a:hover {
  color: var(--a-Bgtext-color);
  font-size: var(--a-fontSize);
}

a {
  -webkit-tap-highlight-color: transparent;
  /* Transparent tap highlight */
  text-decoration: none;
  /* Optional: Remove underline if needed */
}

/* Optionally apply globally */
* {
  -webkit-tap-highlight-color: transparent;
}